<!doctype html>
<html>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/index.css">

    <!-- Angular library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	<script type="text/javascript" src="routes.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="getIssuesCtrl.js"></script>
	<script type="text/javascript" src="showIssueCtrl.js"></script>

    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    

  </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <h1>Issues</h1>
                </div>        
                <div class="col-md-2 col-sm-2">
                    <a class="btn btn-default btn-block" href="#create">Create Issue</a>
                </div>
            </div>
            
            <div class="row" ng-app="mainApp" ng-controller="getIssuesCtrl">
                
              <table class="table table-hover pretty">
                <thead>
                  <tr>
                    <th class="col-xs-5">Title</th>
                    <th>T</th>
                    <th>P</th>
                    <th>Status</th>
                    <th>Votes</th>
                    <th>Assignee</th>
                    <th>Created</th>
                    <th>Updated</th>
                  </tr>
                </thead>
              
                <tbody>
                    <tr ng-repeat="x in myData">
                      <td><a href="#issues/{{x.id}}">{{x.title}}</a></td>
                      <td>
                          <div ng-if="x.kind == 'bug'"><span class="glyphicon glyphicon-remove"></span></div>   
                          <div ng-if="x.kind == 'enhancement'"><span class="glyphicon glyphicon-arrow-up"></span></div>   
                          <div ng-if="x.kind == 'proposal'"><span class="glyphicon glyphicon-certificate"></span></div>   
                          <div ng-if="x.kind == 'task'"><span class="glyphicon glyphicon-check"></span></div>   
                      </td>
                      <td>
                          <div ng-if="x.priority == 'trivial'"><span class="glyphicon glyphicon-fast-backward"></span></div>   
                          <div ng-if="x.priority == 'minor'"><span class="glyphicon glyphicon-step-backward"></span></div>     
                          <div ng-if="x.priority == 'major'"><span class="glyphicon glyphicon-forward"></span></div>   
                          <div ng-if="x.priority == 'critical'"><span class="glyphicon glyphicon-fast-forward"></span></div>   
                          <div ng-if="x.priority == 'blocker'"><span class="glyphicon glyphicon-ban-circle"></span></div>   
                      </td>
                      <td>
                          <div ng-if="x.status == 'new'"><span class="label label-primary">{{x.status}}</span></div>   
                          <div ng-if="x.status == 'resolved'"><span class="label label-success">{{x.status}}</span></div>     
                          <div ng-if="x.status == 'closed'"><span class="label label-success">{{x.status}}</span></div>     
                          <div ng-if="x.status == 'open'"><span class="label label-default">{{x.status}}</span></div>     
                          <div ng-if="x.status == 'on hold'"><span class="label label-warning">{{x.status}}</span></div>     
                          <div ng-if="x.status == 'duplicate'"><span class="label label-info">{{x.status}}</span></div>     
                          <div ng-if="x.status == 'invalid'"><span class="label label-danger">{{x.status}}</span></div>   
                          <div ng-if="x.status == 'wontfix'"><span class="label label-danger">{{x.status}}</span></div>   
                      </td>
                      <td><span class="badge">{{x.votes}}</span></td>
                      <td class="username-td"><span class="glyphicon glyphicon-user"></span>{{x.user}}</td>
                      <td><time datetime=issue.created_at >{{x.created_at | date :"yyyy-MM-dd HH:mm:ss" }} ago</time></td>
                      <td><time datetime=issue.updated_at >{{x.updated_at| date :"yyyy-MM-dd HH:mm:ss" }} ago</time></td>
                    </tr>
                </tbody>
              </table>
            </div>
            
        </div>
        
        <!--<div ng-app="mainApp" ng-controller="getIssuesCtrl"> 
        
            <ul>
              <li ng-repeat="x in myData">
                {{ x.id }}
              </li>
            </ul>
        
        </div>-->
    </body>
</html>
