<!doctype html>
<html lang="en" ng-app='myApp'>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
  </head>


  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <h1>Issues</h1>
        </div>        
        <div class="col-md-2 col-sm-2">
          <a class="btn btn-default btn-block" href="#create">Create Issue</a>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <span class="issue-id"> Issue  {{issue.id}}</span>
            <div ng-if="issue.status == 'new'"><span class="label label-primary">{{issue.status}}</span></div>   
            <div ng-if="issue.status == 'resolved'"><span class="label label-success">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'closed'"><span class="label label-success">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'open'"><span class="label label-default">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'on hold'"><span class="label label-warning">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'duplicate'"><span class="label label-info">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'invalid'"><span class="label label-danger">{{issue.status}}</span></div>   
            <div ng-if="issue.status == 'wontfix'"><span class="label label-danger">{{issue.status}}</span></div> 
        </div>
        <div  ng-controller="openResolveCont">
          <div class="col-xs-1">
            <div ng-if="issue.status == 'new' || issue.status == 'open'"><a class="not-grey btn btn-primary" ng-click="changeWork('resolved')">Resolve</a></div>
            <div ng-if="issue.status != 'new' && issue.status != 'open'"><a class="not-grey btn btn-primary" ng-click="changeWork('open')">Open</a></div>
          </div>
          <div class="col-xs-1">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Workflow
              <span class="caret"></span></button>
               <div class="dropdown-content">
                <a href="" ng-click="changeWork('new')">new</a>
                <a href="" ng-click="changeWork('open')">open</a>
                <a href="" ng-click="changeWork('on hold')">on hold</a>
                <a href="" ng-click="changeWork('duplicate')">duplicate</a>
                <a href="" ng-click="changeWork('invalid')">invalid</a>
                <a href="" ng-click="changeWork('wontfix')">wontfix</a>
                <a href="" ng-click="changeWork('closed')">closed</a>
                <a href="" ng-click="changeWork('resolved')">resolved</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More
            <span class="caret"></span></button>
             <div class="dropdown-content">
              <a href="" onclick="$('#attach-form').toggle();">Attach files</a>
              <div ng-controller="deleteIssue"><a href="" ng-click="delete()">Delete</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <a class="not-grey btn btn-primary" href="#edit/{{issue.id}}">Edit</a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-8">
          <h3 id="issue-title">{{issue.title}}</h3>
          <div class="issue-author">
            <a>
              <span>{{issue.user}}</span>
            </a>
            created this issue
          </div>
          <div class="issue-description wiki-content desc-break">
              <p><div ng-if="issue.description == ''">No description provided</div></p>   
              <p><div ng-if="issue.description != ''">{{issue.description}}</div></p> 
          </div>
          <hr>
          
          <!-- Attachments -->
          <div class="attachments" id="attachments" ng-repeat="x in issue.attachments">
            <table class = "table table-bordered table-striped">
               <thead>
                  <tr>
                     <th width="85%">File</th>
                     <th width="15%">Options</th>
                  </tr>
               </thead>
               
               <tbody>
                     <tr>
                        <td>{{x.name}}</td>
                        <td>
                          <div ng-controller="getAttachment"><a href="http://fast-lake-76623.herokuapp.com{{x.attachment}}" target="_blank" class="not-grey btn btn-primary">Download</a></div>
                          <div ng-if="x.user == 'Adrián Borrego Martínez'">
                            <div ng-controller="deleteAttachment"><a href="" ng-click="delete(x.id)" class="not-grey btn btn-danger">Delete</a></div>
                          </div>
                        </td>
                     </tr>
               </tbody>
            </table>
          </div>
          <!-- Fin attachments -->
          
          <!--Comentarios -->
          <hr>
          <div id="issues-comments-container">
          <h3>Comments ({{issue.comments.length}})</h3>
          <div id="issues-comments" ng-repeat="x in issue.comments">
              <div class="row issue-comment comment">
                <div class="col-xs-1">
                  <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
                </div>
                <div class="col-xs-11">
                  <div class="row">
                    <p>
                      <b>{{x.user}}</b>
                    </p>
                    <div class="comment-{{x.id}}">
                      <p>
                        {{x.text}}
                      </p>
                    </div>
                    <div class="col-xs-7 comment-{{x.id}}" hidden>
                      <form ng-controller="editComment">
                          <div class = "row formfield">
                              <textarea ng-model="commentToSend" class="form-control comment">{{x.text}}</textarea>
                          </div>
                          <div class="row formfield">
                            <button class="btn btn-primary bold-text" ng-click="editComment(x.id)">Editar</button>
                          </div>
                      </form>
                    </div>
                  </div>
                    <div class="row">
                      <ul class="list-inline">
                          <li>
                            <div ng-if="x.user == 'Adrián Borrego Martínez'">
                              <div ng-controller="editForm">
                                <a href="" class="edit-comment-link" ng-click="editForm(x.id)">Edit</a>
                              </div>
                            </div>
                          </li>
                        <li>
                          <div ng-if="x.user == 'Adrián Borrego Martínez'">
                            <a class="comment-pin-link" href="#comment-pin">
                                Pin
                            </a>
                          </div>
                        </li>
                        <li>
                          <div ng-if="x.user == 'Adrián Borrego Martínez'">
                            <div ng-controller="deleteComment">
                              <a href="" ng-click="delete(x.id)">Delete</a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a>
                            <time> {{x.created_at}} hours ago</time>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                </div>
          </div>
          
          <hr>
            <div class="row">
              <div class="col-xs-1">
                <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
              </div>
              <div class="col-xs-7">
                <form ng-controller="createComment">
                  <div class = "row formfield">
                    <textarea class="form-control" rows="2" ng-model="comment" id="comment-text" placeholder="What do you want to say?"></textarea>
                  </div>
                  <div class="row formfield">
                    <a href="" button class="not-grey btn btn-primary" ng-click="sendComment()">Submit</a>
                  </div>
                </form>
              </div>
            </div>
        </div>  
        
        
        </div>
        <div class="col-xs-4 movedown">
          <div id="attach-form" hidden>
            <form ng-controller="createFile">
              <div class="form-group">
                <label for="">Archivo:</label>
                <input type="file" ng-model="file">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="send()">Enviar</button>
              <a class="btn" onclick="$('#attach-form').hide();">Cancel</a>
            </form>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-body">      
              <div class="aui-item sidebar">
                <div class="issue-attrs">
                <dl>
                  <dt>Assignee</dt>
                  <span class="glyphicon glyphicon-user"></span>{{issue.user}}
                </dl>
                <dl>
                  <dt>Type</dt>
                    <div ng-if="issue.kind == 'bug'"><span class="glyphicon glyphicon-remove"></span> {{issue.kind}}</div>   
                    <div ng-if="issue.kind == 'enhancement'"><span class="glyphicon glyphicon-arrow-up"> {{issue.kind}}</span></div>   
                    <div ng-if="issue.kind == 'proposal'"><span class="glyphicon glyphicon-certificate"> {{issue.kind}}</span></div>   
                    <div ng-if="issue.kind == 'task'"><span class="glyphicon glyphicon-check"></span>{{issue.kind}}</div>
                </dl>
                <dl>
                  <dt>Priority</dt>
                    <div ng-if="issue.priority == 'trivial'"><span class="glyphicon glyphicon-fast-backward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'minor'"><span class="glyphicon glyphicon-step-backward"></span> {{issue.priority}}</div>     
                    <div ng-if="issue.priority == 'major'"><span class="glyphicon glyphicon-forward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'critical'"><span class="glyphicon glyphicon-fast-forward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'blocker'"><span class="glyphicon glyphicon-ban-circle"></span> {{issue.priority}}</div>  
                </dl>
                <dl>
                  <dt>Status</dt>
                    <div ng-if="issue.status == 'new'"><span class="label label-primary"> {{issue.status}}</span></div>   
                    <div ng-if="issue.status == 'resolved'"><span class="label label-success"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'closed'"><span class="label label-success"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'open'"><span class="label label-default"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'on hold'"><span class="label label-warning"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'duplicate'"><span class="label label-info"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'invalid'"><span class="label label-danger"> {{issue.status}}</span></div>   
                    <div ng-if="issue.status == 'wontfix'"><span class="label label-danger"> {{issue.status}}</span></div>  
                </dl>
                <dl>
                  <dt>Votes</dt>
                    <div class="row">
                      <div class="col-xs-1">
                        <span class="badge">{{issue.votes}}</span>
                      </div>
                      <div class="col-xs-1">
                        <div ng-if="issue.has_voted == true" ng-controller="unvoteIssue" ng-click="submit()"><a href="#unvote/{{issue.id}}">Unvote</a></div>
                        <div ng-if="issue.has_voted == false" ng-controller="voteIssue" ng-click="submit()"><a href="#vote/{{issue.id}}">Vote</a></div>
                      </div>
                    </div>
                </dl>
                <dl>
                  <dt>Watchers</dt>
                    <div class="row">
                      <div class="col-xs-1">
                        <span class="badge">{{issue.watchers}}</span>
                      </div>
                        <div class="col-xs-1">
                          <div ng-if="issue.has_watched == true" ng-controller="unwatchIssue" ng-click="submit()"><a href="#unwatch/{{issue.id}}">Unwatch</a></div>
                          <div ng-if="issue.has_watched == false" ng-controller="watchIssue" ng-click="submit()"><a href="#watch/{{issue.id}}">Watch</a></div>
                        </div>
                    </div>
                </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>