<!doctype html>
<html lang="en" ng-app='myApp'>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/index.css">

    <!-- Angular library -->
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	  <script type="text/javascript" src="routes.js"></script>
	  <script type="text/javascript" src="showIssueCtrl.js"></script>

    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  </head>


  
  <body ng-controller='mainController'>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <h1>Issues</h1>
        </div>        
        <div class="col-md-2 col-sm-2">
          <a class="btn btn-default btn-block" href="#create">Create Issue</a>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <span class="issue-id"> Issue  {{issue.id}}</span>
            <div ng-if="issue.status == 'new'"><span class="label label-primary">{{issue.status}}</span></div>   
            <div ng-if="issue.status == 'resolved'"><span class="label label-success">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'closed'"><span class="label label-success">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'open'"><span class="label label-default">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'on hold'"><span class="label label-warning">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'duplicate'"><span class="label label-info">{{issue.status}}</span></div>     
            <div ng-if="issue.status == 'invalid'"><span class="label label-danger">{{issue.status}}</span></div>   
            <div ng-if="issue.status == 'wontfix'"><span class="label label-danger">{{issue.status}}</span></div> 
        </div>
        <div class="col-xs-1">
          <div ng-if="issue.status == 'new' || issue.status == 'open'"><a class="btn btn-primary">Resolve</a></div>
          <div ng-if="issue.status != 'new' && issue.status != 'open'"><a class="btn btn-primary">Open</a></div>
        </div>
        <div class="col-xs-1">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Workflow
            <span class="caret"></span></button>
             <div class="dropdown-content">
              <a href="#">new</a>
              <a href="#">open</a>
              <a href="#">on hold</a>
              <a href="#">duplicate</a>
              <a href="#">invalid</a>
              <a href="#">wontfix</a>
              <a href="#">closed</a>
              <a href="#">resolved</a>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More
            <span class="caret"></span></button>
             <div class="dropdown-content">
              <a href="#">Attach files</a>
              <a href="#">Delete</a>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <a class="btn btn-primary" href="#edit/{{issue.id}}">Edit</a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-8">
          <h3 id="issue-title">{{issue.title}}</h3>
          <div class="issue-author">
            <a>
              <span>{{issue.user}}</span>
            </a>
            created an issue
            <time>a tal hora</time>
          </div>
          <div class="issue-description wiki-content desc-break">
              <p><div ng-if="issue.description == ''">No description provided</div></p>   
              <p><div ng-if="issue.description != ''">{{issue.description}}</div></p> 
          </div>
          <hr>
          
          <!-- Attachments -->
          <div class="attachments" id="attachments" ng-repeat="x in issue.attachments">
            <table class = "table table-bordered table-striped">
               <thead>
                  <tr>
                     <th width="85%">File</th>
                     <th width="15%">Options</th>
                  </tr>
               </thead>
               
               <tbody>
                     <tr>
                        <td>{{x.name}}</td>
                        <td>
                          <button type="button" class="btn btn-primary">Download</button>
                          <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                     </tr>
               </tbody>
            </table>
          </div>
          <!-- Fin attachments -->
          
          <!--Comentarios -->
          <hr>
          <div id="issues-comments-container">
          <h3>Comments (nComments)</h3>
          <div id="issues-comments" ng-repeat="x in issue.comments">
              <div class="row issue-comment comment">
                <div class="col-xs-1">
                  <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
                </div>
                <div class="col-xs-11">
                  <div class="row">
                    <p>
                      <b>{{x.user}}</b>
                    </p>
                    <div class="comment-<%= comment.id %>">
                      <p>
                        {{x.text}}
                      </p>
                    </div>
                  </div>
                    <div class="row">
                      <ul class="list-inline">
                          <li>
                            <a href="#edit" class="edit-comment-link" onclick="$('.comment-<%= comment.id %>').toggle();">
                              Edit
                            </a>
                          </li>
                        <li>
                          <a class="comment-pin-link" href="#comment-pin">
                              Pin
                          </a>
                        </li>
                        <li>
                          <a href="/issues/<%= @issue.id.to_s %>/comments/<%= comment.id.to_s %>" onclick="confirm('Are you sure that you wish to delete this comment?')">Delete</a>
                        </li>
                        <li>
                          <a>
                            <time> {{x.created_at}} hours ago</time>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                </div>
          </div>
          
          <!-- Formulario comentario 
          <hr>
          <% if current_user != nil %>
            <div class="row">
              <div class="col-xs-1">
                <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
              </div>
              <div class="col-xs-7">
                <%= render 'comments/form', issue: @issue, comment: @comment %>
              </div>
            </div>
          <% end %>
          -->
        </div>  
        
        
        <!-- Fin comentarios -->
        
        </div>
        
        <div class="col-xs-4 movedown">
          <div class="panel panel-default">
            <div class="panel-body">      
              <div class="aui-item sidebar">
                <div class="issue-attrs">
                <dl>
                  <dt>Assignee</dt>
                  <span class="glyphicon glyphicon-user"></span>{{issue.user}}
                </dl>
                <dl>
                  <dt>Type</dt>
                    <div ng-if="issue.kind == 'bug'"><span class="glyphicon glyphicon-remove"></span> {{issue.kind}}</div>   
                    <div ng-if="issue.kind == 'enhancement'"><span class="glyphicon glyphicon-arrow-up"> {{issue.kind}}</span></div>   
                    <div ng-if="issue.kind == 'proposal'"><span class="glyphicon glyphicon-certificate"> {{issue.kind}}</span></div>   
                    <div ng-if="issue.kind == 'task'"><span class="glyphicon glyphicon-check"></span>{{issue.kind}}</div>
                </dl>
                <dl>
                  <dt>Priority</dt>
                    <div ng-if="issue.priority == 'trivial'"><span class="glyphicon glyphicon-fast-backward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'minor'"><span class="glyphicon glyphicon-step-backward"></span> {{issue.priority}}</div>     
                    <div ng-if="issue.priority == 'major'"><span class="glyphicon glyphicon-forward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'critical'"><span class="glyphicon glyphicon-fast-forward"></span> {{issue.priority}}</div>   
                    <div ng-if="issue.priority == 'blocker'"><span class="glyphicon glyphicon-ban-circle"></span> {{issue.priority}}</div>  
                </dl>
                <dl>
                  <dt>Status</dt>
                    <div ng-if="issue.status == 'new'"><span class="label label-primary"> {{issue.status}}</span></div>   
                    <div ng-if="issue.status == 'resolved'"><span class="label label-success"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'closed'"><span class="label label-success"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'open'"><span class="label label-default"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'on hold'"><span class="label label-warning"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'duplicate'"><span class="label label-info"> {{issue.status}}</span></div>     
                    <div ng-if="issue.status == 'invalid'"><span class="label label-danger"> {{issue.status}}</span></div>   
                    <div ng-if="issue.status == 'wontfix'"><span class="label label-danger"> {{issue.status}}</span></div>  
                </dl>
                <dl>
                  <dt>Votes</dt>
                    <div class="row">
                        <span class="badge">{{issue.votes}}</span>
                        <div ng-if="issue.has_voted == true"><a href="#unvote/{{issue.id}}">Remove vote</a></div>
                        <div ng-if="issue.has_voted == false" ng-controller="voteIssue" ng-click="submit()"><a href="#vote/{{issue.id}}">Vote for this issue</a></div>
                    </div>
                </dl>
                <dl>
                  <dt>Watchers</dt>
                    <div class="row">
                      <div class="col-xs-1">
                        <span class="badge">{{issue.watchers}}</span>
                      </div>
                        <div class="col-xs-1">
                          <div ng-if="issue.has_watched == true"><a href="#unwatch/{{issue.id}}">Stop Watching</a></div>
                          <div ng-if="issue.has_watched == false"><a href="#watch/{{issue.id}}">Watch this issue</a></div>
                        </div>
                    </div>
                </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>