.bold-text{
    font-weight: bold !important;
}

.formfield, .movedown{
    padding-top: 10px;
}

.label-dropdown{
    position: relative;
    text-align: left;
    word-wrap: break-word;
}

.active {
    color:#9d9d9d  !important;
} 


.dropdown-button {
    background-color: white;
    border: none;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
    width:100%;
    color:grey;
}

.dropdown-button:hover {
    background-color: #F5F5F5;
    color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color:black;background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

a {color:grey !important;}      /* unvisited link */
a:hover {color: black !important;}  /* mouse over link */
a:active {color:#000099  !important;} 